@import url("https://api.fontshare.com/v2/css?f[]=general-sans@300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --background: #000000;
  --text-color: #eeeeee;
  --font: "General Sans", sans-serif;
  --transition: cubic-bezier(0.8, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  user-select: none;
}

body {
  background: var(--background);
  color: var(--text-color);
}

.loader::before {
  content: "/";
  color: #fff;
  font-size: 3em;
  padding: 35px;
  animation: animate 1.3s steps(4) infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes animate {
  0% {
    content: "/";
  }
  25% {
    content: "-";
  }
  50% {
    content: "\\";
  }
  75% {
    content: "|";
  }
}
