@import url("https://api.fontshare.com/v2/css?f[]=general-sans@300,400&display=swap");

:root {
  --background: #000000;
  --text-color: #eeeeee;
  --font: "General Sans", sans-serif;
  --transition: cubic-bezier(0.8, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background: var(--background);
  color: var(--text-color);
}
@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
