.main_content {
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  background: #000;
  color: #eeeeee;
  border: 1px solid #3a3a3a;
  scale: 0.7;
  border-radius: 20px;
  opacity: 0.8;
  animation: animate_main_section 2s cubic-bezier(0.8, 0, 0.2, 1) forwards;
}
@keyframes animate_main_section {
  from {
    scale: 0.7;
    opacity: 0.8;
    border-radius: 20px;
    border: 1px solid #3a3a3a;
  }
  to {
    scale: 1;
    opacity: 1;
    border-radius: 0px;
    border: 1px solid #000;
  }
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 35px;
  font-size: 1.05em;
  overflow: hidden;
  color: #eeeeee;
  max-height: 25px;
}
.top {
  animation: animate_top 1.3s cubic-bezier(0.8, 0, 0.2, 1) forwards;
  transform: translateY(-120px) scale(0.7);
  animation-delay: 0.5s;
}
.footer p {
  height: 25px;
  text-align: center;
  animation: animate_text 14s ease forwards;
  animation-delay: 2s;
}
@keyframes animate_text {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(-75px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.social {
  position: absolute;
  right: 0;
  top: 0;
  padding: 35px;
  font-size: 1.3em;
}
.social a {
  text-decoration: none;
  color: #eeeeee;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 25px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  transform: translateY(120px) scale(0.7);
  animation: animate_header 1.3s cubic-bezier(0.8, 0, 0.2, 1) forwards;
  animation-delay: 0.5s;
}
@keyframes animate_header {
  from {
    transform: translateY(120px) scale(0.7);
  }
  to {
    transform: translateY(0px);
    scale: 1;
  }
}

@keyframes animate_top {
  from {
    transform: translateY(-120px) scale(0.7);
  }
  to {
    transform: translateY(0px);
    scale: 1;
  }
}

.bottom header h2 {
  font-size: 4.3em;
}
.bottom a {
  width: 55px;
  height: 55px;
  background: #eeeeee;
  display: grid;
  place-items: center;
  color: #0e0e0e;
  font-size: 1.2em;
  overflow: hidden;
  border: 1px solid #eeeeee;
  position: relative;
}
.stars {
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.6;
  height: 100%;
}
.star {
  position: absolute;
  opacity: 0;
}
@media screen and (max-width: 367px) {
  .bottom header h2 {
    font-size: 3em;
  }
}
